################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/.vs/VSWorkspaceState.json
/.vs/turismoProject/v16/.suo
/.vs/slnx.sqlite
